<!-- <!DOCTYPE html> -->
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="renderer" content="webkit">
	<title>单机游戏_单机游戏下载_单机游戏大全中文版下载_3DM游戏网</title>
	<meta name="keywords" content="3DMGAME,单机游戏,汉化,中文版,排行榜,游戏下载">
	<meta name="description" content="3DM游戏网为玩家提供最新的游戏新闻、攻略、单机游戏资源、汉化资源、游戏补丁、游戏论坛等，经过多年努力已成为游戏玩家首要选择的游戏资讯、游戏资源网站。">
	<meta name="domain_verify" content="pmrgi33nmfuw4ir2eizwi3lhmfwwkltdn5wselbcm52wszbchirdszrugntgcy3ggfrgizbugbsdkojqgq3weytegmydgnbvgbrtqnrcfqrhi2lnmvjwc5tfei5dcnjugiydsnrrgazdinrqpu">
	<link rel="stylesheet" type="text/css" href="{CSS_PATH2}gong.css"/>
	<link rel="stylesheet" type="text/css" href="{CSS_PATH2}idnext.css"/>
	<link rel="stylesheet" href="{CSS_PATH2}2014index.css">
	<!-- 分类样式 -->
	<link rel="stylesheet" href="{CSS_PATH2}base.css">
	<!-- 底部区域 -->
	<link rel="stylesheet" href="{CSS_PATH2}classify.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{JS_PATH2}index2014.js"></script>

	<!-- <script src="https://dup.baidustatic.com/js/ds.js"></script>  -->
</head>