{template 'phpcms','header'}

<div style="position:absolute; left:0px; top:372px; width:768px; height:1383px; z-index:1; BACKGROUND-COLOR:#000000"></div>
<div style="position:absolute; left:0px; top:396px; width:129px; height:600px; z-index:2; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/200504301241507108457447.jpg" width="100%" height="100%"></div>
<div style="position:absolute; left:129px; top:396px; width:515px; height:209px; z-index:3; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/titleMenu01Bg.jpg" width="100%" height="100%"></div>
<div style="position:absolute; left:166px; top:438px; width:455px; height:126px; z-index:5; BACKGROUND-COLOR:"><font size="2">当前位置：</font><a href="{$channelurl}">{$channelname}首页</a> >> {$position}</div>
<div style="position:absolute; left:166px; top:462px; width:455px; height:126px; z-index:5; BACKGROUND-COLOR:"><!--图片文章列表--><center>
{$picdown('0',2,0,1,$specialid,0,4,10,0,0,0,1,1,0,120,100,4)}</center></div>
<div style="position:absolute; left:129px; top:605px; width:515px; height:180px; z-index:4; BACKGROUND-IMAGE:URL({$skindir}/pic/yezhongbeijing.gif);">
<!--下载页广告--><center><SCRIPT LANGUAGE="JavaScript" src="{PHPCMS_PATH}ads/ads.php?id=4"></SCRIPT>
<!--自定义栏目开始-->
<table width="495" align="center" cellpadding="0" cellspacing="1">
      <tr align="center">
        <td width="250" bgcolor=#1E90FF><font color=#ffffff>软件名称</font></td>
        <td width="62" bgcolor=#FF00FF><font color=#ffffff>下载次数</font></td>
        <td width="62" bgcolor=#9ACD32><font color=#ffffff>软件大小</font></td>
        <td width="63" bgcolor=#808080><font color=#ffffff>软件评价</font></td>
        <td width="62" bgcolor=#C0C0C0><font color=#ffffff>更新时间</font></td>
      </tr>
	  </tr>
</table>
<table  width="495" align="center" cellpadding="0" cellspacing="1">
      <tr align="center">
	  <td>
<!--下载列表-->
{$downlist("tag_downlist-cat",$channelid,$catid,0,0,$page,$maxperpage,56,250,0,0,5,0,0,1,1,1,1,1,1)}
 <!--自定义栏目结束-->
 </td>
 </tr>
 </table>
 <br>
 <!--搜索框--><script language="Javascript" src="{PHPCMS_PATH}data/js/search2.js"></script></center>
 <br>
<!--尾部开始-->
<div style="position:absolute; left:0px; width:515px; height:24px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend01.gif" width="100%" height="100%"></div>
<br>
<div style="position:absolute; left:0px; width:10px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend02.gif" width="100%" height="100%"></div>
<div style="position:absolute; left:10px; width:274px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend03.gif" width="100%" height="100%"></div>
<div style="position:absolute; left:284px; width:72px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend04.gif" width="100%" height="100%"></div>
<div style="position:absolute; left:355px; width:151px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend05.gif" width="100%" height="100%"></div>
<div style="position:absolute; left:505px; width:10px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend06.gif" width="100%" height="100%"></div>
<!--尾部结束-->
</div>

<div style="position:absolute; left:0px; top:405px; width:129px; height:600px; z-index:10; BACKGROUND-COLOR:">
<!--左边栏--><img border=0 src="{$skindir}/pic/200504301241507108457447.jpg" width="100%" height="100%"></div>
<div style="position:absolute; left:646px; top:405px; width:122px; height:600px; z-index:9; BACKGROUND-COLOR:">
<!--右边栏--><img border=0 src="{$skindir}/pic/2005.jpg" width="100%" height="100%"></div>
<div style="position:absolute; left:769px; top:0px; width:147px; z-index:8; BACKGROUND-IMAGE:URL({$skindir}/pic/y_newcontent06.gif)">
<!--右侧通栏菜单开始--><br><br><br>
<div style="PADDING-TOP: 6px; width:147px; height:25px; BACKGROUND-IMAGE:URL({$skindir}/pic/y_newcontent09.gif)"><center><font color="#ffffff" size="2"><b>最新推荐</div>
<div id="youce" style="PADDING-LEFT: 5px;"><!--推荐下载-->{$downlist(0,$channelid,0,1,0,0,10,22,0,0,0,1,0,0,0,0,0,0,1,1)}</div>
<div style="PADDING-TOP: 6px; width:147px; height:25px; BACKGROUND-IMAGE:URL({$skindir}/pic/y_newcontent09.gif)"><center><font color="#ffffff" size="2"><b>下载排行</div>
<div id="youce" style="PADDING-LEFT: 5px;"><!--下载排行-->{$downlist(0,$channelid,0,1,0,0,15,22,0,0,0,5,0,0,0,0,0,0,1,1)}</div>
<div><img src="{$skindir}/pic/y_newcontent11.gif"></dir>
</div>
</div>

</body></html>
