{template 'phpcms','header'}

<div style="position:absolute; left:0px; top:372px; width:768px; height:1383px; z-index:1; BACKGROUND-COLOR:#000000"></div>
<div style="position:absolute; left:0px; top:396px; width:129px; height:600px; z-index:2; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/200504301241507108457447.jpg" width="100%" height="100%"></div>
<div style="position:absolute; left:129px; top:396px; width:515px; height:147px; z-index:3; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/titleMenu01Bg.jpg" width="100%" height="100%"></div>
<div style="position:absolute; left:129px; top:543px; width:515px; height:180px; z-index:4; BACKGROUND-IMAGE:URL({$skindir}/pic/yezhongbeijing.gif);"></div>
<div style="position:absolute; left:166px; top:420px; width:455px; height:126px; z-index:5; BACKGROUND-COLOR:"><font size="2">当前位置：</font><a href="{$channelurl}">{$channelname}首页</a> >> {$position}</div>
<div style="position:absolute; left:166px; top:440px; width:455px; height:100px; z-index:5; BACKGROUND-COLOR:"><!--图片文章列表--><center>
{$picdown('0',2,0,1,$specialid,0,5,10,0,0,0,1,1,0,100,80,5)}</center></div>
<div style="position:absolute; left:129px; top:550px; width:455px; height:126px; z-index:5; BACKGROUND-COLOR:"><center>
<!--广告位置--><SCRIPT LANGUAGE="JavaScript" src="{PHPCMS_PATH}ads/ads.php?id=4"></SCRIPT>
</center></div>
<div style="position:absolute; left:129px; top:605px; width:515px; height:180px; z-index:4; BACKGROUND-IMAGE:URL({$skindir}/pic/yezhongbeijing.gif);">
<!--自定义栏目开始-->
<!--下载文档名称-->
    <table width="495" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="40"><h3>{$title} {$ontop} {$elite}</h3></td>
      </tr>
    </table>
<hr align="center" width="495" size="1" noshade style="color:#cccccc">
 <table width="495">
  <tr>
    <td width="40%" rowspan="8" align="center">
<!--下载文档图片-->
    <img src="{$thumb}" border="0" width="160" height="160" /></td>
<!--下载文档属性-->
    <td width="15%">　授权形式：</td>
    <td width="25%">　{$copytype}</td>
    <td width="20%">　作者/开发商：</td>
  </tr>
  <tr>
                <td>　所需点数：</td>
                <td>　{$readpoint}</td>
                <td>　软件来源：</td>
  </tr>
  <tr>
                <td>　软件语言：</td>
                <td>　{$language}</td>
                <td>　更新时间：</td>
  </tr>
  <tr>
                <td>　版本号：</td>
                <td>　{$version}</td>
                <td>　软件平台：</td>
  </tr>
  <tr>
                <td>　软件类别：</td>
                <td>　{$classtype}</td>
                <td>　演示地址：</td>
  </tr>
  <tr>
                <td>　评分等级：</td>
                <td>　{$stars}</td>
                <td>　注册地址：</td>
  </tr>
  <tr>
                <td>　发布人：</td>
		        <td>　<a href="{PHPCMS_PATH}member/member.php?username={$username}" class="member_url">{$username}</a></td>
                <td>　下载次数：</td>
  </tr>
</table><!--下载地址-->
	<table width="495" cellpadding="0" cellspacing="5" class="downaddress">
      <tr>
        <td width="14%" align="center"><img src="{$skindir}/images/down.gif" width="84" height="26"></td>
        <td width="86%">{$readmessage}
{loop $downurls $downurl} <a href="{$channelurl}download.php?downid={$downid}&id={$downurl['id']}" title="{$downurl['name']}">{$downurl['name']}{$downurl['type']}</a> 
{/loop}
      </td>
      </tr>
    </table>
			  <!--下载站广告横幅-->
			  <table width="495" border="0" cellpadding="2" cellspacing="2" align="center">
<tr>
<td>
    
	   </td>
	</tr>
	</table>
<!--软件介绍-->
	<table width="100%"  cellspacing="0" cellpadding="0">
      <tr>
        <td class="bg_5" width="100">软件介绍</td>
        <td>&nbsp;</td>
      </tr>
    </table>
	<hr align="center" width="495" size="1" noshade style="color:#cccccc">
<br />
	<table width="96%" cellpadding="0" cellspacing="0" align="center">
      <tr>
        <td>{$introduce}</td>
      </tr>
    </table>	
	<hr align="center" width="495" size="1" noshade style="color:#cccccc">
<br />
	<table width="100%"  cellspacing="0" cellpadding="0">
      <tr>
        <td class="bg_5" width="100">相关评论</td>
        <td align="right" style="padding-right:20px;"><a href="{PHPCMS_PATH}comment/index.php?item=downid&itemid={$downid}&itemurl={$itemurl}" class="commenturl">共<span id="commentnumber">0</span>条评论&nbsp;&nbsp;发表/查看更多评论</a></td>
        </tr>
    </table>	
<!--相关评论js调用-->

<script type="text/javascript" src="{PHPCMS_PATH}comment/list_js.php?item=downid&itemid={$downid}&commentnum=10&ordertype=1"></script>

<table width="100%" border="0" cellpadding="2" cellspacing="2">
	<tr>
	<td height="23" bgcolor="#006400">&nbsp;&nbsp;<b>发表评论</b> </td>
	<td align="right" bgcolor="#006400"><a name="comment">　【<a href="#top">返回顶部</a>】【<a href="javascript:window.close();">关闭窗口</a>】&nbsp;</td>
	</tr>
	<form name="myform" method="post" action="{PHPCMS_PATH}comment/index.php?action=add&submit=1" onSubmit="return docheck();">
	<input name="item" type="hidden" value="downid">
	<input name="itemid" type="hidden" value="{$downid}">
	<input name="itemurl" type="hidden" value="{$itemurl}">
	<tr>
	<td valign="top">
        评分：
        <input name="score" type="radio" class="radio" title="很差" value="1"> 1 
        <input name="score" type="radio" class="radio" title="差" value="2"> 2 
        <input name="score" type="radio" class="radio" title="一般" value="3" checked> 3 
        <input name="score" type="radio" class="radio" title="好" value="4"> 4 
        <input name="score" type="radio" class="radio" title="很好" value="5"> 5 
        <br/>
	<textarea name="content" cols="50" rows="8" id="content"></textarea><br/>
	<span id="showcheckcode"></span>&nbsp;&nbsp;<input name="submit" type="submit" class="btn" value=" 发表 ">&nbsp;&nbsp;<input name="reset" type="reset" class="btn" value=" 重置 ">
	</td>
	<td valign="top">
		<ul style="border:#c0c0c0 1px dotted;padding:5px;">
		<li>请遵守《互联网电子公告服务管理规定》及中华人民共和国其他各项有关法律法规。 </li>
		<li>严禁发表危害国家安全、损害国家利益、破坏民族团结、破坏国家宗教政策、破坏社会稳定、侮辱、诽谤、教唆、淫秽等内容的评论 。</li>
		<li>用户需对自己在使用本站服务过程中的行为承担法律责任（直接或间接导致的）。</li> 
		<li>本站管理员有权保留或删除评论内容。</li>
		</ul>
	</td>
	</tr>
	</form>
	</table>
    </td>
  </tr>
</table>

<script type="text/javascript" src="{$channelurl}show_js.php?downid={$downid}"></script>
<script type="text/javascript">
function docheck()
{
    myform.itemurl.value = window.location;
    if(myform.content.value=="") {
       alert("请输入评论内容!");
       myform.content.focus();
       return false;
    }
    return true;
}
</script>
 <!--自定义栏目结束-->
 <br>
 <br>
<!--尾部开始-->
<div style="position:absolute; left:0px; width:515px; height:24px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend01.gif" width="100%" height="100%"></div>
<br>
<div style="position:absolute; left:0px; width:10px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend02.gif" width="100%" height="100%"></div>
<div style="position:absolute; left:10px; width:274px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend03.gif" width="100%" height="100%"></div>
<div style="position:absolute; left:284px; width:72px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend04.gif" width="100%" height="100%"></div>
<div style="position:absolute; left:355px; width:151px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend05.gif" width="100%" height="100%"></div>
<div style="position:absolute; left:505px; width:10px; height:37px; z-index:9; BACKGROUND-COLOR:"><img border=0 src="{$skindir}/pic/mainend06.gif" width="100%" height="100%"></div>
<!--尾部结束-->
</div>

<div style="position:absolute; left:0px; top:405px; width:129px; height:600px; z-index:10; BACKGROUND-COLOR:">
<!--左边栏--><img border=0 src="{$skindir}/pic/200504301241507108457447.jpg" width="100%" height="100%"></div>
<div style="position:absolute; left:646px; top:405px; width:122px; height:600px; z-index:9; BACKGROUND-COLOR:">
<!--右边栏--><img border=0 src="{$skindir}/pic/2005.jpg" width="100%" height="100%"></div>
<div style="position:absolute; left:769px; top:0px; width:147px; z-index:8; BACKGROUND-IMAGE:URL({$skindir}/pic/y_newcontent06.gif)">
<!--右侧通栏菜单开始--><br><br><br>
<div style="PADDING-TOP: 6px; width:147px; height:25px; BACKGROUND-IMAGE:URL({$skindir}/pic/y_newcontent09.gif)"><center><font color="#ffffff" size="2"><b>最新推荐</div>
<div id="youce" style="PADDING-LEFT: 5px;"><!--推荐下载-->{$downlist(0,$channelid,0,1,0,0,10,22,0,0,0,1,0,0,0,0,0,0,1,1)}</div>
<div style="PADDING-TOP: 6px; width:147px; height:25px; BACKGROUND-IMAGE:URL({$skindir}/pic/y_newcontent09.gif)"><center><font color="#ffffff" size="2"><b>下载排行</div>
<div id="youce" style="PADDING-LEFT: 5px;"><!--下载排行-->{$downlist(0,$channelid,0,1,0,0,15,22,0,0,0,5,0,0,0,0,0,0,1,1)}</div>
<div><img src="{$skindir}/pic/y_newcontent11.gif"></dir>
</div>
</div>
</body></html>
